@use "../../styles" as *;

.Pokemon {
  &_refresh {
    background-color: $green-100;
    position: absolute;
    right: 120px;

    @include breakpoint(sm) {
      padding: 15px;
      right: 40px;
    }

    @include breakpoint(xs) {
      padding: 10px;
      right: 10px;
    }
  }

  &_container {
    @include flex-center;
    flex-direction: column;
  }

  &_image {
    @include breakpoint(xs) {
      width: 300px;
    }
  }

  &_pokeball {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px 72px;
    padding: 80px;

    @include breakpoint(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(xs) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &_button {
    width: 30%;

    @include breakpoint(md) {
      width: 40%;
    }

    @include breakpoint(sm) {
      width: 50%;
    }

    &_text {
      @include breakpoint(sm) {
        font-size: 16px;
      }
    }
  }
}
