// Neutrals
$neutral-900: #000;
$neutral-800: #28313b;
$neutral-700: #4c4637;
$neutral-600: #3f4e5f;
$neutral-500: #7f8c8d;
$neutral-400: #a6a5a5;
$neutral-300: #b0b9bf;
$neutral-200: #d1dadf;
$neutral-100: #e2eaee;
$neutral-50: #ccc;
$neutral-0: #ffffff;

// Grays
$gray-200: #383838;

// Blues
$blue-400: #1f2730;
$blue-300: #2cbbd8;

// Greens
$green-100: #00c896;

// Reds
$red-500: red;
$red-400: #f54f35;
$red-300: #cd4833;

$shadow-raised: rgba(136, 153, 166, 0.25) 0 0 15px,
  rgba(136, 153, 166, 0.15) 0 0 3px 1px;
