@use "../../styles" as *;

.PokeBall {
  animation: fall 0.25s ease-in-out,
    shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 3;
  background: $neutral-0;
  border: 10px solid $neutral-900;
  border-radius: 50%;
  box-shadow: inset -10px 10px 0 10px $neutral-50;
  height: 200px;
  position: relative;
  width: 200px;
  overflow: hidden;

  &:hover {
    animation: fall 0s,
      shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  }

  &::before {
    background: $red-500;
    content: "";
    height: 50%;
    position: absolute;
    width: 100%;
  }

  &::after {
    background: $neutral-900;
    content: "";
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    width: 100%;
  }

  &_center {
    animation: blink 0.5s alternate 7;
    background: $neutral-500;
    border: 10px solid $neutral-0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px $neutral-900;
    cursor: pointer;
    height: 60px;
    left: calc(50% - 30px);
    position: absolute;
    top: calc(50% - 30px);
    width: 60px;
    z-index: 10;

    &:hover {
      animation: blink 0.5s alternate infinite;
    }
  }
}
